<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/index.html" class="btn">Home</a>
  <a href="/research.html" class="btn">Research</a>
  <a href="/outreach.html" class="btn">Outreach</a>
  <a href="/media/Teja_Teppala_CV_June_2024.pdf" class="btn">CV</a>
  <a href="/personal.html" class="btn">Personal</a>
  <a href="/updates.html" class="btn">Updates</a>
  <a href="/resources.html" class="btn">Resources</a>
</section>
